<div id="banner_logo">
   <h1>Receipt</h1>
   <img
     src="images/Untitled_Artwork.png"
     alt="Receipt Logo"
     id="logo_img"
   />
   <button href="https://virtual-receipts.herokuapp.com/login" id="login_btn">Login</button>
   <nav>
     <div><a class="active nav_link" href="index.html">Home</a></div>
     <div><a class="nav_link" href="add.html">Add Receipt</a></div>
     <div><a class="nav_link" href="all.html">View All</a></div>
     <form action="" id="search_bar">
       <input type="search" placeholder="Search..." name="search" />
       <button id="search_icon" type="submit"></button>
     </form>
   </nav>
   <h1>Tracker</h1>
 </div>