:root {
    --logo_blue: rgb(137, 173, 221);
    --page_blue: rgb(171, 219, 245);
}


body {
    margin: 0;
}

header {
    height: 11vh;
    width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

main {
    height: 89vh;
}

.gallery {
    background-color: var(--page_blue);
    border: dashed 2px red;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.receipt_preview {
    border: dashed 2px purple;
    width: 150px;
    height: 150px;
    margin: 5px;
    text-align: center;
    background-image: url("");
}


/* Toggle for different logo/navbar layout */
#banner {
    display: flex;
    align-items: flex-end;
    /* display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 150px auto auto;
    height: 15vh; */
    margin-bottom: 35px;
}

#banner_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
}

#logo_img {
    margin: 15px;
    margin-bottom: 0;
    margin-right: 10px;
    height: 120px;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    /* border: solid 2px black; */
}

#login_btn {
    max-width: 150px;
    min-width: 100px;
    background-color: var(--logo_blue);
    font-size: large;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    /* grid-column: 3 / 4;
    grid-row: 1 / 2; */
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--logo_blue);
    padding: 10px;
    gap: 20px;
    /* grid-column: 2 / 4;
    grid-row: 2 / 3; */
}

#search_icon {
    font-size: x-large;
    margin: 0;
}

#search_icon:after {
    float: right;
    content: ' \26AF';
    color: rgb(60, 156, 180);
}

#search_bar input {
    width: 35%;
}

#search_bar {
    display: flex;
    justify-content: flex-end;
    /* align-items: stretch; */
    flex-grow: 2;
    align-self: flex-end;
}

/* 610px: Minimun for nav bar */
@media screen and (min-width: 610px) {
    
}