@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto+Slab:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
    --logo_blue: rgb(137, 173, 221);
    --page_blue: rgb(171, 219, 245);
    --body_font: "Montserrat", Helvetica, sans-serif;
    --header_font: "Roboto Slab", Slab;
}

body {
    margin: 0;
}

header {
    height: 11vh;
    width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2,
h3,
h4{
    font-family: var(--header_font);
}

p,
a,
label{
    font-family: var(--body_font);
}

html {
    background-color: var(--page_blue);
    box-sizing: border-box;
}

main {
    /* height: 89vh; */
    position: relative;
    top: 100px;
}

.index-main {
    width: 90%;
    margin: auto;
}

.gallery {
    background-color: var(--page_blue);
    /* border: dashed 2px red; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery li {
    border: solid 2px var(--logo_blue);
    width: 150px;
    height: 150px;
    margin: 5px;
    text-align: center; 
}

.receipt-preview p {
    text-transform: capitalize;
}

.receipt-total::before {
    content: "$";
}

footer {
    display: flex;
    margin-top: 7em;
    justify-content: space-evenly;
    padding: 2em 1em 1em 1em;
    font-size: var(--small-font);
    background: linear-gradient(to top, var(--logo_blue) 0%, var(--page_blue) 100%);
}

/* Toggle for different logo/navbar layout */
#banner {
    display: flex;
    align-items: flex-end;
    /* display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 150px auto auto;
    height: 15vh; */
    margin-bottom: 35px;
}

#banner_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
    z-index: 1;
}

#banner_logo h1 {
    z-index: 3;
    cursor: default;
}

#logo_img {
    margin: 15px;
    margin-bottom: 0;
    margin-right: 10px;
    height: 120px;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 3;
    /* border: solid 2px black; */
}

#login_btn {
    max-width: 150px;
    min-width: 100px;
    background-color: var(--logo_blue);
    font-size: large;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    /* grid-column: 3 / 4;
    grid-row: 1 / 2; */
}

#login_btn:hover {
    background-color: var(--page_blue);
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--logo_blue);
    z-index: 2;
    position: absolute;
    top: 85px;
    /* grid-column: 2 / 4;
    grid-row: 2 / 3; */
}

nav form {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav div {
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .2s ease-in-out;
}

nav div:hover {
    transform: scale(1.05);
    background-color: var(--page_blue);
}

nav div:nth-child(1) {
    padding-left: 2%;
}

.nav_link {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all .2s ease-in-out;
    padding: 15px;
}

#search_icon {
    font-size: x-large;
    margin: 0;
}

#search_icon:after {
    float: right;
    content: ' \26AF';
    color: rgb(60, 156, 180);
}

#search_bar input {
    width: 35%;
}

#search_bar {
    display: flex;
    justify-content: flex-end;
    /* align-items: stretch; */
    flex-grow: 2;
    align-self: flex-end;
    padding-right: 5%;
}

ul {
    list-style: none;
}


/* ----------- ADD RECEIPT FORM -------------- */

#addForm {
    margin: 5em auto auto;
    width: 50%;
    
}

#addForm h2{
    margin-top: 2em;
    text-align: center;
}

#addForm form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
}

#addForm label, #addForm span {
    margin: 3em 3em 10px;
}

.currency-symbol

#addForm .amount{
    width: 95%;
    margin-top: -25px;
}



#addForm input, #addForm select {
    border-radius: 4px solid black;
    border: none;
    border-bottom:1px solid black;
    padding: .8em;
    margin: 10px 3em ;
    /* margin:10px 0 20px 0; */
}




/* 610px: Minimun for nav bar */
@media screen and (min-width: 610px) {
    
}